.console {
  height: 600px;
  color: white;
  white-space: pre-wrap;
  resize: none;
  background-color: black;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  text-align: start;
}
