.statusRunning {
  color: green;
  font-weight: 700;
}

.statusExited {
  color: red;
  font-weight: 700;
}

.heading {
  display: flex;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  align-items: center;
}

.text {
  font-weight: 500;
}

.trBodyTable {
  cursor: pointer;
}
